name: Laravel

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, intl, zip, bcmath
          coverage: none

      - name: Copy .env
        run: cp .env.example .env

      - name: Prepare Laravel Directories
        run: |
          mkdir -p storage/framework/{sessions,views,cache}
          mkdir -p storage/logs
          mkdir -p bootstrap/cache
          chmod -R 775 storage bootstrap/cache

      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Generate key
        run: php artisan key:generate

      - name: Check Artisan Version
        run: php artisan --version

      - name: List Artisan Commands
        run: php artisan list

      - name: Run Tests
        env:
          DB_CONNECTION: sqlite
          DB_DATABASE: ':memory:'
        run: php artisan test
